.form-inputs {
    display: grid;
    grid-template-areas: 
        "company-label company-input ."
        "provider-label provider-input ."
        "username-label username-input ."
        "password-label password-input password-button"
        "successful-label successful-input .";
    grid-template-columns: auto 1fr auto;
    gap: 15px;
    row-gap: 10px;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 25px;
}

/* Add new selectors for company and provider */
.form-inputs label[for="company"] {
    grid-area: company-label;
    text-align: right;
}

.form-inputs input[name="company"] {
    grid-area: company-input;
}

.form-inputs label[for="provider"] {
    grid-area: provider-label;
    text-align: right;
}

.form-inputs input[name="provider"] {
    grid-area: provider-input;
}

.form-inputs label[for="username"] {
    grid-area: username-label;
    text-align: right;
}

.form-inputs input[name="username"] {
    grid-area: username-input;
}

.form-inputs label[for="password"] {
    grid-area: password-label;
    text-align: right;
}

.form-inputs input[name="password"] {
    grid-area: password-input;
}

.form-inputs label[for="successful"] {
    grid-area: successful-label;
    text-align: right;
}

.form-inputs input[name="successful"] {
    grid-area: successful-input;
    justify-self: left; /* Align checkbox to left of its grid area */
    width: auto; /* Prevent checkbox from stretching */
}

.form-inputs button {
    grid-area: password-button;
    padding: 0px;
    margin:0px;
}