.credential-card {
    margin-top: 40px;
}

.credential-card h1, h2 {
    margin: 20px;

}

.credential-provider {
    margin-top: 0px;
    color: darkgray;
    margin-bottom: 30px;
}

.login-failed-warning {
    text-align: center;
    width: 60%;
    background-color: #ffe6e6;
    color: rgba(255, 96, 96, 0.691);
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 3px;
}

.login-failed-warning p {
    color: rgb(189, 0, 0)
}